.row
  .col-md-12.text-center
    = link_to new_issue_vote_path(issue), class: 'btn btn-danger btn-lg' do
      %i.fa.fa-hand-o-down
      투표하기
    = link_to new_issue_speech_path(issue), class: 'btn btn-danger btn-lg' do
      %i.fa.fa-microphone
      연설하기
